<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queue Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo center">Tic Tac Toe</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if session['username'] %}
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav> 
    <div class="valign-wrapper" style="height:auto; min-height:100vh; width:100%;">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 l6 offset-m2 offset-l3">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Queue</span>
                            <p>Hello, {% if session['username'] %}{{ session['username'] }}{% else %}Guest{% endif %}. You are currently in the queue. You will be placed into a game as soon as possible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var sidenavElems = document.querySelectorAll('.sidenav');
            var sidenavInstances = M.Sidenav.init(sidenavElems);
        });
    </script>
</body>

<script>

    var intervalId = window.setInterval(function(){
        var xml2 = new XMLHttpRequest()
        xml2.open("GET", "/game/queue/" + "{{session['username']}}")
        xml2.send()
        xml2.onload = function(){
            if(xml2.responseText != "waiting"){
                window.location.href = "/game?seed=" + xml2.responseText
            }

        }
    }, 1000);
    document.addEventListener('DOMContentLoaded', function() {
        var xml = new XMLHttpRequest()
        xml.open("POST", "/game/queue/" + "{{session['username']}}")
        xml.send()
        xml.onload = function (){
            console.log(xml.responseText)
        }

    });
</script>