.activeBoard{
    background-color: gray;

}

.inactiveBoard{
    background-color: white;
}

.xWinner{
    background-color: red;
}

.oWinner{
    background-color: blue;
}

.draw{
    background-color: gray;
}

.cell{
    width:50px;
    height:50px;
}

.x{
    color:red;
}

.o{
    color:blue
}


.hover{
    background-color: rgb(251, 251, 184);
}

.offHover{
    background-color: rgb(197, 197, 176);
}
